@charset "UTF-8";


/* layout */
header {height:100px;}
header .logo {height:100px;}
header .login_info {height:100px;}


.contents {height:500px;}
.login-box {width: 300px}

footer {height:100px;}



